<form [formGroup]="goalForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name" />
  </div>
  <!-- end .mb-3 -->

  <div class="row">
    <div class="col mb-3">
      <label for="startDate">Start Date</label>
      <input
        type="date"
        id="startDate"
        class="form-control"
        formControlName="startDate"
      />
    </div>
    <!-- end .col -->

    <div class="col mb-3">
      <label for="endDate">End Date</label>
      <input
        type="date"
        id="endDate"
        class="form-control"
        aria-describedby="goalEndDateHelp"
        formControlName="endDate"
      />
      <div id="goalEndDateHelp" class="form-text">
        Don't worry if you haven't finished your goal yet, you can add the end
        date later
      </div>
    </div>
    <!-- end .col -->
  </div>
  <!-- end .row -->

  <div class="mb-3">
    <label for="description">Description</label>
    <textarea
      id="description"
      rows="5"
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>
  <!-- end .mb-3 -->

  <p *ngIf="!goalForm.valid" class="text-muted">
    *Please fill out all form inputs
  </p>
  <button type="submit" class="btn btn-green" [disabled]="!goalForm.valid">
    {{ editMode ? "Update Goal" : "Add Goal" }}
  </button>
</form>
