<h2>{{ goal.name }}</h2>
<div class="d-flex align-items-center">
  <!-- Start Date -->
  <span class="badge rounded-pill"
    >Start Date: {{ goal.startDate | date : "shortDate" }}</span
  >

  <!-- End Date -->
  <span *ngIf="goal.endDate !== ''" class="badge rounded-pill ms-3"
    >End Date: {{ goal.endDate | date : "shortDate" }}</span
  >

  <!-- Manage Goal -->
  <div class="dropdown ms-auto">
    <button
      class="btn btn-primary dropdown-toggle ms-3"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Manage Goal
    </button>
    <ul class="dropdown-menu">
      <li>
        <a style="cursor: pointer" class="dropdown-item" routerLink="edit"
          >Edit Goal</a
        >
      </li>
      <li>
        <a
          style="cursor: pointer"
          class="dropdown-item"
          (click)="onDeleteGoal()"
          >Delete Goal</a
        >
      </li>
    </ul>
  </div>
  <!-- end .dropdown -->
</div>

<!-- Description -->
<h3 class="mt-4" *ngIf="goal.description !== ''">Description</h3>
<p>{{ goal.description }}</p>
